<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageLoading_TableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD4714FD1E1616E600C09D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD4715161E1616E700C09D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD4715211E1616E700C09D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
